@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 0 2%;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
}

header .center img {
    width: 180px;
    float: right;
    padding: 20px 0;
}

main .banner {
    height: 500px;
    background-image: url('../images/main-img.jpg');
    background-attachment: fixed;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner img {
    width: 50px;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-box {
    width: 300px;
    padding-top: 40px;
    margin-right: 40px;
    float: right;
}

.form-box h2 {
    line-height: 20px;
    font-weight: 300;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.856);
    padding: 25px 15px;
}

.form-box form {
    background-color:rgba(255, 255, 255, 0.6);
    padding: 15px;
}

.form-box form label, .form-box form input {
    display: block;
}

form input {
    width: 270px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
}

form label {
    margin-top: 15px;
    font-size: 13px;
    text-shadow: .5px .5px .5px white;
}

form input:focus {
    outline: none;
}

form input[type="submit"] {
    background-color: #332270;
    color: white;
    cursor: pointer;
    margin: 20px auto 20px auto;
}

form input[type="submit"]:hover {
    background-color: #423081; 
}

form input[type="submit"]:active {
    width: 260px;
}

form p {
    font-size: 12px;
    text-shadow: .5px .5px .5px white;
}

.one, .two, .three, .four, .five {
    border-bottom: 2px solid white;
}

.one {
    text-align: center;
    background-color: #EAEFF2;
    width: 100%;
    line-height: 35px;
    padding: 60px;
}

.one h2 {
    font-weight: 300;
}

.sunset {
    
    width: 60%;
    height: 230px;
    overflow: hidden;
    float: right;
    /*
    width: 60%;
    height: 230px;
    float: right;
    background-image: url('../images/sunset.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    */
}

.sunset img {
    width: 100%;
    position: relative;
    top: -180px;
}


.sunset-text {
    width: 40%;
    height: 230px;
    float: left;
    background-color: #E8F6FF;
}

.sunset-text p {
    padding: 100px 30px;
    line-height: 30px;
}

.door {
    
    width: 60%;
    height: 230px;
    overflow: hidden;
    float: left;
    /*
    width: 60%;
    height: 230px;
    float: right;
    background-image: url('../images/sunset.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    */
}

.door img {
    width: 100%;
    position: relative;
    top: -180px;
}


.door-text {
    width: 40%;
    height: 230px;
    float: right;
    background-color: #E8F6FF;
}

.door-text p {
    padding: 100px 30px;
    line-height: 30px;
}

.bedroom {
    
    width: 60%;
    height: 230px;
    overflow: hidden;
    float: right;
    /*
    width: 60%;
    height: 230px;
    float: right;
    background-image: url('../images/sunset.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    */
}

.bedroom img {
    width: 100%;
    position: relative;
    top: -120px;
}


.bedroom-text {
    width: 40%;
    height: 230px;
    float: left;
    background-color: #E8F6FF;
}

.bedroom-text p {
    padding: 100px 30px;
    line-height: 30px;
}

.restaurant {
    
    width: 60%;
    height: 230px;
    overflow: hidden;
    float: left;
    /*
    width: 60%;
    height: 230px;
    float: right;
    background-image: url('../images/sunset.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    */
}

.restaurant img {
    width: 100%;
    position: relative;
    top: -180px;
}


.restaurant-text {
    width: 40%;
    height: 230px;
    float: right;
    background-color: #E8F6FF;
}

.restaurant-text p {
    padding: 100px 30px;
    line-height: 30px;
}

.final {
    background-color:  #EAEFF2;
    text-align: center;
    padding: 40px;
}

.final h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

.final p {
    text-decoration: underline;
    line-height: 30px;
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 50px;
}