@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.clear {
    clear: both;
}

header {
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 0 2%;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header .center img {
    width: 180px;
    float: right;
    padding: 20px 0;
}

main .center {
    height: 500px;
    background-image: url('../images/main-img.jpg');
    background-attachment: fixed;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-box {
    width: 300px;
    padding-top: 40px;
    float: right;
}

.form-box h2 {
    line-height: 20px;
    font-weight: 300;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.856);
    padding: 25px 15px;
}

.form-box form {
    background-color:rgba(255, 255, 255, 0.6);
    padding: 15px;
}

.form-box form label, .form-box form input {
    display: block;
}

form input {
    width: 270px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
}

form label {
    margin-top: 15px;
    font-size: 13px;
}

form input:focus {
    outline: none;
}

form input[type="submit"] {
    background-color: #332270;
    color: white;
    cursor: pointer;
    margin: 20px auto 20px auto;
}

form input[type="submit"]:hover {
    background-color: #423081; 
}

form input[type="submit"]:active {
    width: 260px;
}

form p {
    font-size: 12px;
}

main .center img {
    width: 50px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}