@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

nav {
    background-color: goldenrod;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 40px;
}

nav li a {
    text-decoration: none;
}

section {
    padding: 300px 0;
}

.active {
    text-decoration: underline;
    font-weight: bold;
    
}

.section1 {
    background-color: coral;
    position: relative;
    top: 78px;
}

.section2 {
    background-color: darkcyan;
}

.section3 {
    background-color: darkorchid;
    padding: 500px 0px;
}

#div1 {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

#div1 img {
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#div2 {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 300px;
}

#div2 img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}

#bullets {
    width: 200px;
    height: 100px;
    text-align: center;
    position: relative;
    top: 780px;
    left: 50%;
    transform: translateX(-50%);
}

#bullets .bullet {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 4px solid grey;
    display: inline-block;
    cursor: pointer;
}

#bullets .selected {
    border: 4px solid black;
    background-color: black;
}