@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #581845;
}

.slider {
    width: 640px;
    height: 427px;
    border-radius: 15px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 427px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 640px;
    height: 427px;
}

/*Manual nav starts here*/

.navigation-manual {
    position: absolute;
    width: 640px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #900C3F;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #900C3F;
}

#radio1:checked ~ .first {
    margin-left: 0; 
}

#radio2:checked ~ .first {
    margin-left: -20%; 
}

#radio3:checked ~ .first {
    margin-left: -40%; 
}

#radio4:checked ~ .first {
    margin-left: -60%; 
}

/*Auto nav starts here*/
.navigation-auto {
    position: absolute;
    display: flex;
    width: 640px;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid #900C3F;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 387px;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color:  #900C3F;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color:  #900C3F;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color:  #900C3F;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color:  #900C3F;
}