@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.artigo01 {
    padding: 30px;
    background-color: burlywood;
    margin-bottom: 50px;
    
}

.artigo01 p {
    line-height: 35px;
    width: 100px;
    background-color: cadetblue;
    text-align: center;
    margin: 15px auto;
    border-radius: 50px;
}

.artigo01 #aumenta {
    cursor: zoom-in;
}

.artigo01 #diminui {
    cursor: zoom-out;
}

.artigo01 #some {
    cursor: none;
}

.artigo01 p:hover {
    font-size: 15px;
}

.artigo02 {
    padding: 30px;
    background-color: purple;
    margin-bottom: 50px;
}

.artigo02 p {
    color: white;
    text-align: center;
    font-size: 16px;
}    

.artigo03 p {
    width: 50%;
    text-align: justify;
    margin: 0 auto;
    line-height: 30px;
}

input#name{
    height: 50px;
    border: 1px solid black;
    width: 400px;
    margin: 20px auto;
    display: block;
    padding-left: 10px;
    border-radius: 10px;
}

input#name:focus {
    outline: none;
}

.divexample {
    padding: 50px;
    text-align: center;
    background-color: rgba(220, 20, 60, 0.397);
    cursor: pointer;
}           

.divtest {
    width: 500px;
    cursor: pointer;
    margin: 40px auto;
    background-color: red;

}

.divtest p {
    padding: 10px 0;
    color: white;
    text-align: center;
}

.divtest2 {
    width: 600px;
    margin: 0 auto;
}

form{
    width: 500px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 20px;
}

form div {
    margin: 0 auto;
    width: 200px;
}

.divtest3 {
    height: 40px;
    width: 800px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px 10px;
}

.comparison {
    width: 606px;
    margin: 0 auto;
    
}

.comparisonbox, .movebox {
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: rgb(192, 192, 192);
    border: 1px solid black;
}

.comparisoncontent, .movecontent {
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
