@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

header {
    padding-bottom: 25px;
}

.header-logo {
    background-image: url('../images/fernanda.logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 280px;
    height: 50px;
    float: left;
    margin: 15px 0px 0px 40px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
}

nav.header-menu {
    float: right;
    margin: 35px 20px 0px 0px;
}

nav.header-menu li {
    display: inline-block;
    
}

nav.header-menu a {
    text-decoration: none;
    color: #B5B5B5;
    margin-right: 70px;
    font-size: 15px;
}

nav.header-menu a:hover {
    color: rgb(153, 153, 153);;
}

nav.header-menu a:active {
    text-decoration: underline;
}

main {
    margin: 80px auto;
    max-width: 1440px;
}

.mosaic-wrap {
    display: flex;
    padding: 0px 1% 0px 1.5%
}

.mosaic {
    padding: 4px;
    max-width: 200px;
    width: Calc(100% /6);
}

.mosaic-item {
    --aspect-ratio: 1/1;
    height: 0;
    padding-bottom: Calc(100% / (var(--aspect-ratio)));
    position: relative;
}

.mosaic-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main-section {
    margin-top: 30px;
}

.blocks-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: 250px;
    padding: 0px 8px;
}

.blocks {
    float: left;
    height: 100%;
    width: Calc(100% / 3);
    text-align: center;
    background-color: #586975;
    color: white;
}

.blocks h2 {
    font-size: 16px;
    padding: 50px 0px 10px 0px;
}

.blocks p {
    font-weight: 200;
    font-size: 12px;
}

.blocks:nth-of-type(1) {
    padding: 0px 45px 0px 15px;
}

.blocks:nth-of-type(3) {
    padding: 0px 15px 0px 45px;
}

.blocks-content p:nth-of-type(1), .blocks-content p:nth-of-type(2) {
    padding-bottom: 20px;
} 

#block-middle p {
    padding: 0px 15px;
}

.blocks img {
    width: 25px
}

.blocks:nth-of-type(2) {
    background-color: #688292;
    transform: scale(1.2, 1.2);
}

.instagram {
    background-color: #98A6AE;
    color: white;
    text-align: center;
    padding: 40px 0px;
}

.instagram img {
    width: 30px;
}

.instagram h3 {
    font-weight: 200;
    font-size: 14px;
}

.instagram p {
    font-size: 11px;
}

.mosaic-instagram-wrap {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.mosaic-instagram {
    padding: 5px;
    max-width: 200px;
    width: Calc(100% /6);
}

.mosaic-item {
    --aspect-ratio: 1/1;
    height: 0;
    padding-bottom: Calc(100% / (var(--aspect-ratio)));
    position: relative;
}

.mosaic-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.facebook {
    background-color: #505d66;
    color: white;
    text-align: center;
    padding: 40px 0px;
}

.facebook img {
    width: 30px;
}

.facebook h3 {
    font-weight: 200;
    font-size: 14px;
}

.facebook p {
    font-size: 11px;
}

.footer-center {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 50px 8px;
}

.footer-content {
    width: Calc(100% / 3);
    padding: 0px 15px;
}

@media screen and (max-width: 1057px) {

    .header-logo {
        float: none;
        margin: 15px 0px 0px 15px;
    }

    nav.header-menu {
        float: none;
        margin: 35px 20px 0px 15px;
    }

    main {
        margin: 130px auto;
    }
}